
.navbar {
    display: flex;
  }
  
  .navbar button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar button.active {
    background-color: #ccc; 
    font-weight: bold;
  }
  